.work-item {
  display: flex;
  padding-bottom: 3em;
  gap: 20px;
  align-items: flex-start;
}

.work-bubble {
  object-fit: cover;
  
  flex: 0 0 100px;
  
  height: 100px;
}

.work-text  {
  flex: 1;
}
