.work-item {
  display: flex;
  padding-bottom: 3em;
  gap: 20px;
  align-items: center;
  
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

.work-bubble {
  float: none;
  
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
}
